<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
<center>
<h1>知識圖譜</h1>
</center>

<!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
<script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

<style type="text/css">

        #mynetwork {
            width: 50%;
            height: 600px;
            background-color: #ffffff;
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }

        

        

        
</style>

</head>

<body>

    <!-- Paste this code into the BODY section of your HTML document  -->
    <select size="1" name="jumpit" onchange="document.location.href=this.value"> 
        <option selected value="">Make a Selection</option>
        <option value="http://127.0.0.1:5000/">All Brand</option>
        <option value="http://127.0.0.1:5000/?Brand=Brand_A">Brand_A</option>
        <option value="http://127.0.0.1:5000/?Brand=Brand_B">Brand_B</option>
        </select> 
    <div id = "mynetwork"></div>


<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;

    
    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph() {
        var container = document.getElementById('mynetwork');
        
        

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet([{"id": "earphone", "label": "earphone", "shape": "dot", "size": 10}, {"id": "drink_flg", "label": "drink_flg", "shape": "dot", "size": 10}, {"id": "starbucks_flg", "label": "starbucks_flg", "shape": "dot", "size": 10}, {"id": "mouse", "label": "mouse", "shape": "dot", "size": 10}, {"id": "bikini", "label": "bikini", "shape": "dot", "size": 10}, {"id": "house_flg", "label": "house_flg", "shape": "dot", "size": 10}, {"id": "swimsuit", "label": "swimsuit", "shape": "dot", "size": 10}]);
        edges = new vis.DataSet([{"arrows": "to", "from": "earphone", "title": "fashion-designed", "to": "drink_flg", "weight": 1}, {"arrows": "to", "from": "earphone", "title": "fashion-designed", "to": "starbucks_flg", "weight": 1}, {"arrows": "to", "from": "mouse", "title": "FPS", "to": "drink_flg", "weight": 1}, {"arrows": "to", "from": "mouse", "title": "3C", "to": "starbucks_flg", "weight": 1}, {"arrows": "to", "from": "bikini", "title": "fashion-designed", "to": "starbucks_flg", "weight": 1}, {"arrows": "to", "from": "bikini", "title": "one-piece", "to": "house_flg", "weight": 1}, {"arrows": "to", "from": "swimsuit", "title": "one-piece", "to": "starbucks_flg", "weight": 1}, {"arrows": "to", "from": "swimsuit", "title": "one-piece", "to": "drink_flg", "weight": 1}]);

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {
    "configure": {
        "enabled": false
    },
    "edges": {
        "color": {
            "inherit": true
        },
        "smooth": {
            "enabled": false,
            "type": "continuous"
        }
    },
    "interaction": {
        "dragNodes": true,
        "hideEdgesOnDrag": false,
        "hideNodesOnDrag": false
    },
    "physics": {
        "enabled": true,
        "stabilization": {
            "enabled": true,
            "fit": true,
            "iterations": 1000,
            "onlyDynamicEdges": false,
            "updateInterval": 50
        }
    }
};
        
        

        

        network = new vis.Network(container, data, options);
	 
        


        

        return network;

    }

    drawGraph();

</script>
</body>
</html>